:root {
    --swiper-navigation-size: 18px;
    --swiper-theme-color: #fff;
}

@font-face {
    font-family: "Gotham Pro Light";
    /* 300 */
    src: url("../fonts/GothamPro-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    /* 400 */
    src: url("../fonts/GothamPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro Medium";
    /* 500 */
    src: url("../fonts/GothamPro-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*,
::after,
::before {
    box-sizing: border-box;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 0px !important;
}

::-webkit-scrollbar-track {
    width: 0px !important;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #292929;
    color: #fff;
    font-family: "Gotham Pro", sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}


.cube-wrapper {
    position: fixed;
    background-color: #202020;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 99999;
}

.cube-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: auto;
    width: 90px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
    -moz-animation: shadow 0.5s ease infinite alternate;
    -webkit-animation: shadow 0.5s ease infinite alternate;
    animation: shadow 0.5s ease infinite alternate;
}

.cube-wrapper .loading {
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    letter-spacing: 0.1em;
    display: block;
    color: white;
    position: relative;
    top: 25px;
    z-index: 2;
    -moz-animation: text 0.5s ease infinite alternate;
    -webkit-animation: text 0.5s ease infinite alternate;
    animation: text 0.5s ease infinite alternate;
}

.cube-folding {
    margin-top: 40vh;
    width: 50px;
    height: 50px;
    display: inline-block;
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
    font-size: 0;
}

.cube-folding span {
    position: relative;
    width: 25px;
    height: 25px;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    display: inline-block;
}

.cube-folding span::before {
    content: '';
    background-color: rgb(26, 167, 56);
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 25px;
    height: 25px;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -moz-animation: folding 2.5s infinite linear both;
    -webkit-animation: folding 2.5s infinite linear both;
    animation: folding 2.5s infinite linear both;
}

.cube-folding .leaf2 {
    -moz-transform: rotateZ(90deg) scale(1.1);
    -ms-transform: rotateZ(90deg) scale(1.1);
    -webkit-transform: rotateZ(90deg) scale(1.1);
    transform: rotateZ(90deg) scale(1.1);
}

.cube-folding .leaf2::before {
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background-color: rgb(234, 206, 46);
}

.cube-folding .leaf3 {
    -moz-transform: rotateZ(270deg) scale(1.1);
    -ms-transform: rotateZ(270deg) scale(1.1);
    -webkit-transform: rotateZ(270deg) scale(1.1);
    transform: rotateZ(270deg) scale(1.1);
}

.cube-folding .leaf3::before {
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    background-color: #e65454;
}

.cube-folding .leaf4 {
    -moz-transform: rotateZ(180deg) scale(1.1);
    -ms-transform: rotateZ(180deg) scale(1.1);
    -webkit-transform: rotateZ(180deg) scale(1.1);
    transform: rotateZ(180deg) scale(1.1);
}

.cube-folding .leaf4::before {
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    background-color: rgb(26, 138, 243);
}

@-moz-keyframes folding {

    0%,
    10% {
        -moz-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -moz-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -moz-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes folding {

    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes folding {

    0%,
    10% {
        -moz-transform: perspective(140px) rotateX(-180deg);
        -ms-transform: perspective(140px) rotateX(-180deg);
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -moz-transform: perspective(140px) rotateX(0deg);
        -ms-transform: perspective(140px) rotateX(0deg);
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -moz-transform: perspective(140px) rotateY(180deg);
        -ms-transform: perspective(140px) rotateY(180deg);
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@-moz-keyframes text {
    100% {
        top: 35px;
    }
}

@-webkit-keyframes text {
    100% {
        top: 35px;
    }
}

@keyframes text {
    100% {
        top: 35px;
    }
}

@-moz-keyframes shadow {
    100% {
        bottom: -18px;
        width: 100px;
    }
}

@-webkit-keyframes shadow {
    100% {
        bottom: -18px;
        width: 100px;
    }
}

@keyframes shadow {
    100% {
        bottom: -18px;
        width: 100px;
    }
}

.header {
    padding-top: 50px;
}

.header::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 35px;
    top: 0;
    right: 30%;
    background: url("../img/petal-2.png") no-repeat;
}

.header-description {
    font-family: "Gotham Pro Light";
    font-size: 12px;
    letter-spacing: 0.12px;
}

.text-color-red {
    font-family: "Gotham Pro Medium";
    color: #ff3469;
}

.header-contacts {
    text-align: right;
}

.header-phone {
    display: block;
    font-family: "Gotham Pro Medium";
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.header-info {
    display: block;
    margin-top: 7px;
    font-size: 12px;
}

.callback {
    display: block;
    margin-top: 16px;
    font-size: 16px;
    color: #ff3469;
}

.hero {
    padding-top: 100px;
    padding-bottom: 77px;
    text-align: center;
    border-bottom: 1px solid #4c4c4c;
}

.hero-title {
    max-width: 652px;
    margin: auto;
    margin-bottom: 34px;
    font-family: "Gotham Pro Medium";
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 0.34px;
}

.hero-description {
    max-width: 590px;
    margin: auto;
    font-family: "Gotham Pro Light";
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.18px;
    line-height: 1.4;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 160px;
    top: 180px;
    left: 5%;
    background: url("../img/petal-1.png") no-repeat;
}

.hero::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 65px;
    top: 400px;
    right: 5%;
    background: url("../img/petal-3.png") no-repeat;
}

.flowers-slider {
    width: 100%;
    margin-top: 87px;
    margin-bottom: 83px;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    padding: 10px;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    padding: 10px;
}

.swiper-button-prev:hover {
    color: #ff2e55;
}

.swiper-button-next:hover {
    color: #ff2e55;
}

.hero-cta {
    display: block;
    font-family: "Gotham Pro Light";
    font-size: 19px;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    padding: 30px 65px 26px;
    margin-top: 36px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ff2e55;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    outline: none;
    transition: .4s;
}

.button:hover {
    transition: .4s;
    box-shadow: 0px 0px 19px 8px rgba(255, 42, 86, 0.44);
}

.reviews {
    padding: 100px 0 50px;
}

.section-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.reviews-slider {
    margin-top: 98px;
}

.review-slide {
    padding: 0 60px 0;
}

.review-image {
    width: 220px;
    height: 220px;
    margin-right: 52px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    font-family: "Gotham Pro Light";
    font-size: 20px;
    position: relative;
}

.review-image::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.review-image>* {
    position: relative;
}

.review-image-1 {
    background: #000 url("../img/reviews/review-1.jpg") no-repeat center;
}

.review-image-2 {
    background: #000 url("../img/reviews/review-2.jpg") no-repeat top;
}

.review-image-3 {
    background: #000 url("../img/reviews/review-3.jpg") no-repeat top;
}

.review-name {
    margin-bottom: 7px;
}

.review-text {
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 1.4;
}

.review-link {
    color: #f24841;
}

.advantages {
    text-align: center;
    padding: 50px 0 100px;
    border-bottom: 1px solid #4c4c4c;
}

.advantages-wrapper {
    min-height: 85px;
    margin-bottom: 30px;
}

.advantages-title {
    max-width: 270px;
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Gotham Pro Medium";
    line-height: 1.25;
}

.goods {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-red {
    color: #f24841;
}

.section-description {
    font-size: 18px;
    text-align: center;
}

.card {
    margin-top: 27px;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 33px 35px 30px 35px;
}

.card-title {
    margin-top: 23px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card-label {
    display: block;
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 14px;
}

.color-label {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.color-input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -9;
}

.color-label.white {
    background-color: #fff;
}

.color-label.biege {
    background-color: #f7b496;
}

.color-label.pink {
    background-color: #ed366e;
}

.color-label.red {
    background-color: #ff0000;
}

.color-label.blue {
    background-color: #12129d;
}

.counter-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #292929;
    border: none;
    outline: none;
}

.counter-input {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: #292929;
    margin-left: 15px;
    margin-right: 15px;
}

.card-button {
    width: 100%;
    font-size: 14px;
    padding: 16px 10px 13px 10px;
}

.more {
    display: block;
    font-size: 14px;
    color: #f24841;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.more::after {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background: url("../img/caret.svg") no-repeat center;
    margin-left: 15px;
    vertical-align: middle;
}

.offer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1a1a1a;
    text-align: center;
}

.offer-link {
    text-transform: uppercase;
    color: #fff;
    display: block;
    font-size: 30px;
    margin-bottom: 65px;
}

.offer-label {
    display: block;
    margin-bottom: 22px;
    font-size: 14px;
}

.offer-phone {
    font-size: 36px;
    text-decoration: none;
    color: #fff;
}

.footer-menu {
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    list-style: none;
}

.footer-menu-item {
    margin-right: 30px;
}

.footer-menu-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.social {
    font-size: 16px;
}

.social-link {
    padding: 10px;
    margin-left: 8px;
}

.footer-info {
    text-align: right;
}

.footer-label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
}

.footer-phone {
    display: block;
    margin-bottom: 12px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.footer-bottom {
    padding: 60px 0 50px;
    background-color: #fff;
}

.footer-description,
.footer-text,
.developer {
    color: #000;
}

.modal {
    display: none;
}

.modal-title {
    color: #292929;
}

.modal-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.modal-button {
    width: 100%;
}

@media (max-width: 768px) {
    .header {
        text-align: center;
    }

    .header-contacts {
        text-align: center;
    }

    .hero {
        padding-top: 50px;
    }

    .hero-title {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 1.6;
    }

    .hero-description {
        font-size: 16px;
        line-height: 1.6;
    }

    .button {
        padding: 20px 40px;
    }

    .reviews,
    .advantages,
    .goods,
    .offer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .colors {
        max-width: 200px;
        margin: auto;
    }

    .card-label {
        display: block;
        margin: 20px auto;
    }

    .offer-title {
        font-size: 25px;
    }

    .offer-link {
        font-size: 20px;
    }

    .offer-phone {
        font-size: 26px;
    }

    .footer-info {
        text-align: left;
    }
}

@media (max-width: 576px) {

    .offer,
    .offer-title {
        text-align: left;
    }

    .review-image {
        margin-right: 0;
    }

    .footer-bottom {
        padding: 30px 0;
    }
}